.about-page{
    width: 100%;
    padding-top: 10vh;
    background-color: #eaecee ;
    height: 100vh;
}

.about-row{
    display: flex;
    align-items: center;
    border-style: solid;
    border-right: none;
    border-width: 0.5px;
    border-color: #b3b6b7 ;
    border-radius: 3rem;
    overflow: hidden;
    height: 85vh;
}
.about-img{
    border-top-right-radius: 10%;   
    border-bottom-right-radius: 10%;
}

.about-img{
    object-fit: cover;
    width: 100vh;
    height: 85vh;
}

.about-right{
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.centrado{
    display: flex;
    justify-content: center;
}

.about-box{
    display: flex;
    justify-content: center;
}

.about-txt2{
    width: 85%;
    height: 5vh;
    font-style: italic;
    margin: 0.5vh;
    display: flex;
    justify-content: center;
    align-content: center;
    overflow: hidden;
}

.about-txt2:hover{
    background-color: #17202a;
    color: white;
    font-weight: bolder;
}