.contactform{
    width: 80%;
    
    padding: 1vh; /* darle espacio al borde */
    border-style:solid;
    border-width: 0.5px;
    border-color: #e4e4e5;
    border-radius: 2%;
}

.contactform-box{
        display: flex;
        justify-content: center;
        align-items: center;
}

.contactform-box-input{
    display: block;
}

.contactform-check{
    width: 50%;
    margin:2vh;
    display: flex;
    justify-content: center;
}
.contactform-txt{
    padding-bottom: 2vh;
}

.checkbox{
    margin-left: 2vh;
}

.contact-btn{
    display: flex;
    justify-content: right;
    padding-top: 2vh;
}


