.menu-bar{
    border-style: solid;
    border-right: none;
    border-width: 0.5px;
    border-color: #b3b6b7 ;
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
    height: 85vh;
    padding-bottom: 4vh;
    background-color: #e5e8e8;    
}

.menu-bar-item{
    display: flex;
    justify-content: center;
}

.item-title{
    padding: 4vh;
}

.itemList{
    border-style: solid;
    border-right: none;
    border-width: 0.5px;
    border-color: #b3b6b7 ;
    border-radius: 3rem;
    width: 35vh;
    margin: 2vh;
}

.itemList:hover{
    color: #c0392b ;
}

.menu-item{
    display: flex;
    justify-content: center;
    height: 85vh;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
    border-style: solid;
    border-left: none;
    border-width: 0.5px;
    border-color: #b3b6b7 ;
}

#item1{
    display: none;
}

#item2{
    display: none;
}

#item3{
    display: none;
}

#item4{
    display: none;
}

#item5{
    display: none;
}