.menu-bar{
    background-color: #fadbd8;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    height: 80vh;
    padding-bottom: 4vh;
}

.menu-bar-item{
    display: flex;
    justify-content: center;
}

.item-title{
    padding: 4vh;
}

.itemList{
    background-color: grey;
    border-radius: 5rem;
    width: 35vh;
    margin: 2vh;
}

.menu-item{
    display: flex;
    justify-content: center;
    height: 80vh;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    background-color: #fdedec;
}

#item1{
    display: none;
}

#item2{
    display: none;
}

#item3{
    display: none;
}

#item4{
    display: none;
}

#item5{
    display: none;
}