.wall{
    background-color: #17202a;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /*
    width: 100%;
    */
}

.wall-logo{
    width: 3rem;
    height: 3rem;
    
}

.wall-box-txt{
    width: 25vh;
    color: #eaecee;
    background-color: red;
}

